<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update editor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class="container w-50">
    <form th:method="patch" th:action="@{/editors/{id}/update(id=${editor.id})}" th:object="${editor}">
        <h1>Update editor</h1>
        <input type="hidden" th:field="*{id}" value="<%= editor.getId() %>">
        <div class="form-group">
            <label for="nameEditor">Name editor: </label>
            <input class="form-control" id="nameEditor" th:field="*{nameEditor}" type="text" required/>
        </div>
        <br>
        <input type="submit" value="Update" class="btn btn-primary"/>
    </form>
</div>
</body>
</html>
